@page
@model MonteyHall.Web.Pages.MontyHallGameModel
@{
    <form method="post" asp-page="MontyHallGame">
        <table>
            <tr>
                <td>Number of Attempts</td>
                <td>
                    <input asp-for="@Model.MontyHallModel.NumberOfSimulation" />
                </td>
                <td>
                    <span asp-validation-for="@Model.MontyHallModel.NumberOfSimulation" class="error"></span>
                </td>
            </tr>
            <tr>
                <td>Do you want to Change the Door?</td>
                <td>
                    <input asp-for="@Model.MontyHallModel.IsDoorChanged" />
                </td>
                <td>
                    <span asp-validation-for="@Model.MontyHallModel.IsDoorChanged" class="error"></span>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Play Game" />
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><label asp-for="@Model.FinalOutput"><b>@Model.FinalOutput</b></label></td>
            </tr>
        </table>
    </form>
}
